<div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="new-post-form" class="card-body">
    <label class="form-label" for="post-title">What would you like to share?</label>
    <input type="text" name="post-title" class="form-input" />

    <label class="form-label" for="post-body">What would you like to say?</label>
    <textarea name="post-body" class="form-input"></textarea>

    <button type="submit" class="btn">Let the people know!</button>
  </form>
</div>

<script src="/js/new.js"></script>
