<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div>
        <label for="username-input-signup">What would you like your Username to be?</label>
        <input type="text" id="username-input-signup" />
      </div>
      <div>
        <label for="password-input-signup">Please Enter a Secure Password</label>
        <input type="password" id="password-input-signup" />
      </div>
      <button type="submit" id="signup-btn" class="btn" >Let's do this! I'm ready to join the family!</button>
      <a href="/login">Have an account already? Click HERE to Login</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>
