
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
    font-size: 16px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
header {
    margin-top: 50px;  
  }
main {
    margin: 20px auto;
    width: 94%;
  }
a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
p {
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
input {
      width: 100%;
      margin: 0 0 5px;
      padding: 10px;
  }
.card-header h2 { color: var(--primary);
  }
.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    background-color: aqua;
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
.btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
.btn-inline {
    display: inline;
  }
.li-inline {
    display: inline;
  }
.navbar {
    width: 100%;
    position: fixed;
    background-color: maroon;
  }
  
.nav-item {
    margin: 0 40px;
  }
  
.nav-item a {
    color: ivory;
    font-size: 20px;
  }
.hero {
    padding: 2% 8%;
    color: var(--primary);
  }
  
.hero p {
    max-width: 75%;
  }
.app-title {
    font-size: 3rem;
    background-color: purple;
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }
.app-title a {
    color: var(--dark);
  }
.list-group {
    padding: 1%;
  }
.list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    color: var(--primary);
    text-decoration: none;
  }
.list-item:hover {
    background-color: var(--dark);
  }
.footer a {
    display: inline-block;
    justify-content: center;
    padding: 1em;
    margin-bottom: .5em;
    border-radius: var(--border-radius);
    text-decoration: none;
  }
.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }
.card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 1%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
.card-body {
    padding: 1%;
  }
  .form-label,
  .form-input,
  .form-textarea {
    display: block;
  }
  .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  }
.form-input {
    width: 100%;
    padding: 1%;
    margin: 5px 0;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
  }
  .min-100-vh {
    min-height: 100vh;
  }
  .min-100-vw {
    min-width: 100vw;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .justify-space-between { justify-content: space-between;
  } 
  .justify-space-around { justify-content: space-around;
  }
  .justify-flex-start { justify-content: flex-start;
  }
  .justify-flex-end { justify-content: flex-end;
  }
  .justify-center { justify-content: center;
  }
  .align-stretch { align-items: stretch;
  }
  .align-end { align-items: flex-end;
  }
  .align-center { align-items: center;
  }